.navbar {
    /* padding: 20px; */
    display: flex;
    align-items: center;
    /* max-width: 600px; */
    margin: 0;
    border-bottom: 1px solid #f2f2f2;
  }
  .navbar h1 {
    color:black;
    font-weight:200;
    font-size: 3rem;

    margin:0;

  }
  .navbar .links {
    /* float: none;
    position: absolute;
    top:3%; 
    left: 50%;
    transform: translate(-50%, -50%); */
    position: absolute;
    left:45%
  }
  .navbar a {
    text-align: center;
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;

  }
  .navbar a:hover {
    color: orange;
  }