.navbar {
    display: flex;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid #f2f2f2;
  }
  .navbar h1 {
    color:black;
    font-weight:200;
    font-size:calc(0.75em + 3vmin);


    margin:0;

  }
  .navbar .links {
    position: absolute;
    left:43%
  }
  .navbar a {
    text-align: center;
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    font-size:calc(0.50em + 1vmin);
    color:black;
    font-weight: bold;
    border-radius: 10%;


  }
  /* .navbar a:hover {
    color: rgb(255, 166, 0);
  } */

  /* .navbar a:active{
    color: orange;
  } */

